body{
    font-family: "Georgia";
}

li{
    list-style: none;
}

.header{
    background-color:salmon;
    color: rgb(19, 15, 14);
    height: 90px;
}

.header-logo{
    float:left;
    font size: 36px;
    padding: 20px 40px;
}

.header-list li{
    float:left;
    padding: 33px 20px;
}

.main{
    background-color: rgb(240, 116, 234);
    padding: 100px 80px;
}

.copy-container h1{
    font-size: 100px;
}

.copy-container h2{
    font-size: 45px;
}

.copy-container span{
    color: goldenrod
}

.contents{
    height: 500px;
}

.section-title{
    border-bottom: 2px solid #dee7ec;
}

.contents-item{
    float:left;
    padding: 15px;
}
.footer{
    background-color: rgb(16, 136, 235);
    color:#fff;
    height: 120px;
    padding: 40px;
}

.footer-logo{
    float: left;
    font-size: 32px;
}

.footer-list {
    float: right;
}

.footer-list li{
    padding-bottom: 20px;
}